html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.winScreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: dodgerblue;
    color: white;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winScreen button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.endScreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: dodgerblue;
    color: white;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endScreen button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.loseScreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: tomato;
    color: white;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loseScreen button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}