html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.uiScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    color: aliceblue;
    font-size: 68px;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.uiScreen button {
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 7px;
    cursor: pointer;
}

.creditScreen {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: aliceblue;
    font-size: 20px;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.creditScreen button {
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 7px;
    cursor: pointer;
}

.tutorScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    color: aliceblue;
    font-size: 20px;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tutorScreen button {
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 7px;
    cursor: pointer;
}